#light-back {
    background-color: mediumaquamarine;
}

body {
    margin: 0% !important;
    background-color: #212529 !important;
}

canvas {
    background-color: mediumaquamarine;
    display: block;
    position: initial;
}

.hidden {
    display: none;
}